<div class="container">
  <h3>All Merchant</h3>
  <div class="table">
    <table>
      <tr>
        <th>Comapny name</th>
        <th>Contact person</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Username</th>
        <th>Status</th>
        <th>Action</th>

      </tr>
      <tr *ngFor="let merchant of merchantList">
        <td>{{merchant.company_name}}</td>
        <td>{{merchant.contact_person}}</td>
        <td>{{merchant.mobile_number}}</td>
        <td>{{merchant.email}}</td>
        <td>{{merchant.username}}</td>

        <td>
          <div *ngIf="merchant.active;else other_content" style="background-color: green;">
          approved
          </div>
      
          <ng-template #other_content ><div style="background-color: royalblue;" >waiting</div></ng-template>
        </td>
        <td style="cursor: pointer;"><a (click)="approveMerchant(merchant)">Accept</a> / <a (click)="rejectMerchant(merchant)">Reject</a></td>

      </tr>
      <div *ngIf="!merchantList.length>0"  >
        <div>Data not found</div>
      </div>
     
    </table>
  </div>
</div>